// Color palette
$primary: #F09893;
$secondary: #EBD6D7;
$tertiary: #F9EBD9;
$quaternary: #E9DD6A;
$fifth: #439093;

.page {
  background: white;
}

// Text styles
h1, h2, h3, h4, h5, h6 {
  color: $fifth;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: $fifth;
  }
}

// Component styles
.button {
  background-color: $primary;
  color: $secondary;
  border: none;
  
  &:hover {
    background-color: $secondary;
    color: $primary;
  }
}

.card-header {
  background-color: $tertiary;
}

.acta-button {
  color: $primary;
}

#menu-container {
  background-color: $tertiary;
  padding: 2em;
  border-radius: 2px;
  margin-top: 2em;
}