.document-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  min-height: fit-content;
  padding-inline-start: 0;
}

.document-box {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon {
  font-size: 32px;
  margin-bottom: 10px;
}

.card-header {
  color: $fifth;
}

.doc-title {
  overflow-x: hidden;
}